<%= javascript_include_tag "application" %>

<h1>Задачи</h1>
<br>
<% @projects.each do |project| %>
  <h3><%= project.title %></h3>
  <% project.todos.each do |todo| %>
    <li><%= todo.text %></li>
  <% end %>
<% end %>

<%= link_to image_tag('addTodoIcon.png'), "javascript:;", :onclick => "$('#myDiv').show()"%>

<div id = "myDiv" style="display: none;">
  </table>
    <%= form_with model: [@project, @todo], :html=> {:id => 'form_id'}, local: true do |form| %>
    <p>
      <%= form.text_field :text  , placeholder: "Название задачи"%>
    </p>
    <p>
      <%=form.collection_select(:project_id, Project.all, :id, :title)%>
    </p>
    <p>
      <%= link_to 'ОТМЕНА', "javascript:;", :onclick => "$('#myDiv').hide()" %>
      <%= link_to 'OK', "javascript:;", :onclick => "$('#form_id').submit()" %>
    </p>
  <% end %>
</div>